#map {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#legend {
  margin-top: 100px;
  width: 100px;
  position: absolute;
  background: rgba(184, 245, 181, 0.5);

  z-index: 1000;
  right: 5px;
  top: 65px;
  border-radius: 8px;
  padding: 8px;
  color: black;
  text-align: center;
  border: 1px solid #9bd798;
}
.legend-span {
  padding: 5px;
  margin: 30px;
}
.legend-header {
  font-weight: bold;
}

.controlPanel {
  width: 220px;
  position: absolute;
  background: #868686c9;
  z-index: 1000;
  right: 5px;
  top: 65px;
  border-radius: 16px;
  padding: 8px;
  color: white;
}

.currLocation {
  width: 200px;
  position: absolute;
  background: #868686c9;
  z-index: 1000;
  right: 5px;
  top: 550px;
  border-radius: 16px;
  padding: 16px;
  color: white;
}

.myDrawer {
  width: 240px;
}

#sidebar {
  background-color: lightblue;
  padding: 5px;
  margin-top: 20px;
  margin-right: 5px;
}

.topnav {
 
  background-color: #2E3B55;;

  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}
#feature-content {
  width: 200px;
  position: absolute;
  background: #868686c9;
  z-index: 1000;
  right: 5px;
  top: 85px;
  border-radius: 16px;
  padding: 8px;
  color: white;
 
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
#info {
  padding: 7px;
  border: 1px solid rgb(148, 145, 145);
  width: 150px;
  z-index: 100;
  font-size: 0.6em;
  color: black;
  font-weight: bold;
  background-color: gray;
}
